body{
  background-color: #F0EBCE;
}
.background{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container{
  display: flex;
  justify-content: center;
}
.search{
    width: 100%;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 16px;
    line-height: 18px;
    color: #181818;
    margin-left: 0px;
    box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}
.icon{
  width: 32px;
}
form{
  display: flex;
}
button{
  margin-left: 3px;
}
.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #3C4048 ;
  padding: 10px;
}
.foodImage{
  width: 200px;
}
.foodImage:hover{
  width: 300px;
  transition: 1s ease;
}
.list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bolder;
}
ul{
  list-style-type: square;
  padding: 4px;
}
p{
  font-weight: 600;
}
span{
  font-weight: 800;
}
h2, p, ul, h3, input {
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-weight: 22px;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
.btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button{
  padding: 10px;
  margin-left: 12px;
  margin-right: 12px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  color: #181818;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}
.button:hover{
  font-weight: bolder;
}
